@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<br />
<h4>Your application description page.</h4>
<h4>Ana Carolina Silva.</h4>
<h4>RA: 0050482111027.</h4>

<p>Use this area to provide additional information.</p>
