@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<br />
<h4>Your contact page.</h4>

<address>
    One Microsoft Way<br />
    Tel.: +55 (13) 98871-0847<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:anac.silvasouza1@gmail.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


